*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Roboto Mono, sans-serif;
}

button {
    background: none;
    border: none;
    padding: 10px;
}



.wrapper {
    background: #dacece;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.rules {
    display: flex;
    width: 900px;
    justify-content: end;
}

.rules button {
    font-size: 20px;
    cursor: pointer;
    height: 20px;
    border: none;
    background-color: gold;
    margin: 10px 0;
    padding: 20px;
    border-radius: 10px;
    display: flex;
    align-items: center;
    text-transform: uppercase;
    transition: background-color 1s ease-in-out;
}
.rules button:hover {
    background-color: orange;
    transition: background-color 1s ease-in-out;
}

.close-btn {
    z-index: 10;
    position: absolute;
    top: -6px;
    right: 6px;
    width: 50px;
    height: 50px;
    margin-top: 11px;

}
.close:hover {
    opacity: 1;
}

.close {
    opacity: 0.7;
    cursor: pointer;
    width: 30px;
    height: 30px;
    z-index: 20;
}

.sound-on {
    width: 60px;
    height: 60px;
    margin-right: 5px;
}

.sound-off {
    width: 60px;
    height: 60px;
    margin-right: 5px;
}

.sound-img {
    margin: 0;
    height: 40px;
    align-self: end;
    opacity: 0.8;
}

.sound-img img {
    cursor: pointer;
    height: 50px;
}

.sound-img button {
    opacity: 0.7;
}

.sound-img:hover button {
    opacity: 1;
    overflow: hidden;
}

.game {
    width: 100%;
    max-width: 900px;
    height: 500px;
    background: #fff;
    border: 3px solid gray;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
}

.rules-img {
    position: absolute;
    z-index: 10;
    background: #fff;
    width: 100%;
    max-width: 900px;
    height: 490px;
    border-radius: 20px;
}

.game-wrapper {
    align-items: center;
    display: flex;
    height: 100%;
    flex-direction: column;
}

.game h1 {
    font-size: 30px;
}

.counter-block {
    width: 200px;
    margin:20px auto;
    display: flex;
    justify-content: space-around;
    font-size: 44px;
    padding-top: 40px;
}
.counter-block span {
    margin:0 25px;
}

.count {
    position: relative;
    width: 50px;
    text-align: center;
}


.count::before {
    content:"";
    display: block;
    padding:3px 8px;
    color: black;
    font-size: 14px;
    position: absolute;
    top:50px;
}
.count-user::before {
    content:"Player";
    left:-30px;
    margin-top: 15px;
    font-size: 25px;
}
.count-comp::before {
    content:"Computer";
    right:-60px;
    margin-top: 15px;
    font-size: 25px;
}


.players {
    display: flex;
    width: 250px;
    justify-content: space-between;
    font-size: 20px;
}

.game-buttons-wrapper {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: nowrap;
    min-width: 900px;
    padding-top: 30px;
}

.game h3 {
    text-align: center;
    padding-top: 55px;
}


.user-field button {
    cursor: pointer;
}
.user-field button:hover {
    animation: ease-in-out;
    transform: translateY(-8px);
}

.field {
    width: 100px;
    height: 100px;
    border: 3px solid black;
    border-radius: 50%;
    overflow: hidden;
}

@media screen and (max-width: 760px) {
    .user-field {
        display: flex;
        flex-direction: column;
        position: absolute;
        left: 33px;
        top: 105px;
        gap: 5px;
    }

    .comp-field {
        display: flex;
        flex-direction: column;
        position: absolute;
        right: 33px;
        top: 105px;
        gap: 5px;
    }
    .game-info {
        align-self: center;
        margin-top: 70px;
    }
    .rules {
        width: 100%;
    }
}


.game-info {
    align-self: start;
    padding: 20px;
}

.rock {
    background: url(../images/rock.png) center no-repeat;
        background-size: contain;
}
.paper {
    background: url(../images/paper.png) center no-repeat;
        background-size: contain;
}
.scissors {
    background: url(../images/scissors.png) center no-repeat;
        background-size: contain;
}



.play {
    font-size: 20px;
    cursor: pointer;
    height: 20px;
    border: none;
    background-color: aquamarine;
    margin: 10px auto;
    padding: 20px;
    border-radius: 10px;
    display: flex;
    align-items: center;
    text-transform: uppercase;
    transition: background-color 1s ease-in-out;
}

.play:hover {
    background-color: mediumaquamarine;
    transition: background-color 1s ease-in-out;
}

.hidden {
    display: none;
}

.block {
    display: block;
}

.field.active {
    background-color: #2fd32f;
}

.field.lose {
    background-color: #de1919;
}

.comp-field.pick-animation .rock {
    animation: blink 0.3s 0.1s linear infinite;
}

.comp-field.pick-animation .paper {
    animation: blink 0.3s 0.2s linear infinite;
}

.comp-field.pick-animation .scissors {
    animation: blink 0.3s 0.3s linear infinite;
}

.comp-field.blink {
    animation-play-state: paused;
}

@keyframes blink {
    100% {background-color: #2fd32f;}
}